<!-- app/views/boards/create.html.erb -->
<canvas id="drawing-canvas" width="800" height="600"></canvas>

<div id="color-picker" class="container d-flex justify-content-center">
  <input type="color" id="pen-color" value="#FF0000">
</div>
