<canvas id="drawing-canvas" width="800" height="600"></canvas>

<div id="color-picker">
  <input type="color" id="shape-color" value="#000000">
  <input type="color" id="pen-color" value="#FF0000">
</div>
